In [1]:
#Grid decision tree regressor
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={"criterion":["squared_error","friedman_mse","absolute_error","poisson"],
            "splitter":["best","random"],"max_features":["auto","sqrt","log2"]}



grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [13]:
y_pred=grid.predict(x_test)

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.6790078998611935

In [15]:

re=grid.cv_results_

print("The R_score value for best parameters{}:".format(grid.best_params_),r_score)

The R_score value for best parameters{'criterion': 'squared_error', 'max_features': 'auto', 'splitter': 'best'}: 0.6790078998611935

In [16]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.011131,0.000478,0.005665,0.000731,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",0.749580,0.547391,0.775268,0.640745,0.687256,0.680048,0.081359,1
1,0.009960,0.002425,0.006836,0.002049,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",0.472605,0.658201,0.599101,0.668192,0.601356,0.599891,0.069670,14
2,0.012305,0.002936,0.006641,0.002085,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.705861,0.514215,0.460660,0.328398,0.565481,0.514923,0.123895,24
3,0.011132,0.002361,0.008008,0.003569,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.673249,0.598075,0.564066,0.553210,0.573915,0.592503,0.043009,15
4,0.012500,0.003777,0.006251,0.000995,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.772638,0.557801,0.685643,0.574480,0.510332,0.620179,0.095473,9
5,0.008593,0.000731,0.005666,0.000731,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.428528,0.641890,0.483569,0.411487,0.643488,0.521792,0.101548,23
6,0.010350,0.000782,0.005665,0.000391,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.751666,0.577870,0.762234,0.598972,0.677358,0.673620,0.075760,2
7,0.009570,0.000956,0.005078,0.000391,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.784803,0.649461,0.624046,0.604838,0.590018,0.650633,0.069973,6
8,0.009179,0.000478,0.005860,0.000617,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.696895,0.576814,0.336055,0.497428,0.592347,0.539908,0.120098,20
9,0.008008,0.000390,0.006641,0.000390,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.612222,0.617026,0.705234,0.530415,0.537343,0.600448,0.063687,13
10,0.014258,0.005913,0.005077,0.000392,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.755421,0.672891,0.615328,0.655477,0.633694,0.666562,0.048506,3
11,0.008203,0.000479,0.005079,0.000391,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.702740,0.659890,0.602785,0.595811,0.498047,0.611854,0.069079,11
12,0.038280,0.001140,0.005274,0.000479,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",0.751264,0.627905,0.604192,0.534015,0.665422,0.636560,0.071594,8
13,0.031249,0.001853,0.005078,0.000391,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",0.682219,0.668560,0.725927,0.576998,0.650700,0.660881,0.048755,4
14,0.028710,0.002591,0.005469,0.000479,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.712859,0.626580,0.587769,0.582310,0.585266,0.618957,0.049652,10
15,0.022655,0.001139,0.005860,0.001070,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.676516,0.685036,0.654654,0.621311,0.638387,0.655181,0.023563,5
16,0.029296,0.004579,0.006054,0.000391,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.515155,0.626443,0.691743,0.504889,0.574649,0.582576,0.069979,18
17,0.023827,0.001462,0.005860,0.000618,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.640566,0.556894,0.414013,0.534757,0.550482,0.539342,0.072673,21
18,0.013671,0.000619,0.005468,0.000480,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",0.675027,0.571180,0.649610,0.651215,0.664169,0.642240,0.036716,7
19,0.009765,0.000617,0.007227,0.003303,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",0.736847,0.476524,0.576418,0.530950,0.603813,0.584910,0.087377,17
20,0.011717,0.001071,0.005469,0.000478,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.696259,0.586472,0.558974,0.593446,0.588291,0.604689,0.047333,12
21,0.009569,0.000957,0.005468,0.000479,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.543063,0.490343,0.627771,0.515573,0.564694,0.548289,0.046993,19
22,0.010547,0.000731,0.006250,0.000781,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.677768,0.541598,0.527375,0.471275,0.447597,0.533123,0.080208,22
23,0.009179,0.000478,0.005664,0.000390,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.591604,0.600382,0.615566,0.569223,0.570208,0.589397,0.017808,16

In [17]:
age=int(input("AGE:"))
bmi=float(input("BMI:"))
childern=int(input("CHILDERN:"))
sex=int(input("MALE 1 or FEMALE 0:"))
smoker=int(input("SMOKER 1 or NON-SMOKER 0:"))

AGE:23
BMI:20
CHILDERN:1
MALE 1 or FEMALE 0:1
SMOKER 1 or NON-SMOKER 0:0

In [18]:
Future_prediction=grid.predict([[age,bmi,childern,sex,smoker]])
print("Future_prediction{}:".format(Future_prediction))

Future_prediction[2775.19215]:

C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [19]:
r_score

0.6790078998611935