In [1]:
# Grid random forest regressor model
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={"criterion":["squared_error","absolute_error","friedman_mse","poisson"],"n_estimators":[10,50,100],"max_features":["sqrt","log2","None"]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
60 fits failed out of a total of 180.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
60 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 458, in fit
    for i, t in enumerate(trees)
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\joblib\parallel.py", line 921, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\joblib\parallel.py", line 759, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\joblib\parallel.py", line 716, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 182, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 549, in __init__
    self.results = batch()
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\joblib\parallel.py", line 225, in __call__
    for func, args, kwargs in self.items]
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\joblib\parallel.py", line 225, in <listcomp>
    for func, args, kwargs in self.items]
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 209, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 184, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 282, in fit
    "Invalid value for max_features. "
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.79667321 0.81192051 0.81063871 0.79741272 0.80639255 0.81133258
        nan        nan        nan 0.79429473 0.80825182 0.8110919
 0.79893139 0.80562424 0.80949062        nan        nan        nan
 0.79007316 0.81105519 0.81025788 0.7892873  0.81288765 0.81360426
        nan        nan        nan 0.74500069 0.76892244 0.76974392
 0.75052783 0.7691131  0.77218691        nan        nan        nan]
  category=UserWarning,
C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2', 'None'],
                         'n_estimators': [10, 50, 100]},
             verbose=3)

In [13]:
y_pred=grid.predict(x_test)

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

0.8698625852660685

In [15]:
re=grid.cv_results_

In [16]:
print("The R_score value for best parameters {}:".format(grid.best_params_),r_score)

The R_score value for best parameters {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}: 0.8698625852660685

In [17]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.039062,0.012506,0.008400,9.975764e-04,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.848757,0.754455,0.787377,0.828721,0.764056,0.796673,0.036531,15
1,0.111327,0.003383,0.013282,7.813931e-04,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.872910,0.790618,0.804293,0.822519,0.769263,0.811921,0.035110,3
2,0.213868,0.011928,0.020703,3.912935e-04,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.858144,0.786062,0.810173,0.828456,0.770358,0.810639,0.030987,7
3,0.029491,0.000956,0.007617,7.303848e-04,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.828557,0.773214,0.803401,0.813704,0.768189,0.797413,0.023285,14
4,0.109765,0.002591,0.013281,7.812739e-04,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.868063,0.776050,0.799667,0.816819,0.771364,0.806393,0.034942,11
5,0.212109,0.012282,0.021876,2.439349e-03,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.864211,0.785188,0.810901,0.830527,0.765836,0.811333,0.034404,4
6,0.015039,0.001811,0.000000,0.000000e+00,squared_error,None,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,34
7,0.041016,0.002621,0.000000,0.000000e+00,squared_error,None,50,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
8,0.066992,0.002734,0.000000,0.000000e+00,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
9,0.097264,0.005406,0.007129,5.852226e-04,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.845233,0.770162,0.807526,0.779378,0.769176,0.794295,0.029002,16
10,0.480664,0.016939,0.015235,4.786305e-04,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.851052,0.792180,0.808020,0.823141,0.766865,0.808252,0.028372,10
11,0.913672,0.081951,0.019922,9.960052e-04,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.854462,0.794999,0.809294,0.824844,0.771860,0.811092,0.027826,5
12,0.095311,0.009719,0.006836,4.623108e-07,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.849285,0.789721,0.809095,0.813348,0.733208,0.798931,0.038082,13
13,0.463086,0.033497,0.012891,3.901011e-04,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.850105,0.785945,0.807656,0.820034,0.764380,0.805624,0.029253,12
14,0.886914,0.106511,0.020704,1.435637e-03,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.851680,0.794833,0.811580,0.821548,0.767812,0.809491,0.027863,9
15,0.016406,0.003050,0.000000,0.000000e+00,absolute_error,None,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
16,0.043360,0.003632,0.000000,0.000000e+00,absolute_error,None,50,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
17,0.070311,0.004538,0.000000,0.000000e+00,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,27
18,0.028710,0.000479,0.007813,1.235491e-03,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.843250,0.754183,0.789666,0.793080,0.770186,0.790073,0.030068,17
19,0.105858,0.000996,0.013477,7.313287e-04,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.860072,0.800236,0.811851,0.820273,0.762845,0.811055,0.031399,6
20,0.208397,0.004079,0.020117,7.814050e-04,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.852001,0.796374,0.805910,0.829655,0.767349,0.810258,0.028885,8
21,0.032812,0.008617,0.007228,4.800950e-04,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.850921,0.760880,0.768488,0.799865,0.766282,0.789287,0.033703,18
22,0.108007,0.004887,0.014063,1.811567e-03,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.861068,0.788924,0.812195,0.835002,0.767250,0.812888,0.033069,2
23,0.220703,0.022945,0.025001,8.018990e-03,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.864101,0.791619,0.808305,0.832443,0.771553,0.813604,0.032201,1
24,0.025782,0.011197,0.000000,0.000000e+00,friedman_mse,None,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,28
25,0.046681,0.010524,0.000000,0.000000e+00,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,35
26,0.081054,0.021000,0.000000,0.000000e+00,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,26
27,0.049415,0.013023,0.008593,2.575673e-03,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.809295,0.702138,0.757380,0.742934,0.713257,0.745001,0.037778,24
28,0.158397,0.002085,0.012891,3.911260e-04,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.837258,0.732161,0.788159,0.773787,0.713247,0.768922,0.043622,22
29,0.331249,0.018707,0.025782,3.886833e-03,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.838918,0.727944,0.784461,0.781053,0.716343,0.769744,0.044110,20
30,0.042382,0.003186,0.007422,4.782224e-04,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.836910,0.724209,0.751777,0.750598,0.689144,0.750528,0.048835,23
31,0.199415,0.024028,0.018554,6.447044e-03,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.842974,0.736260,0.776766,0.773255,0.716310,0.769113,0.043356,21
32,0.480078,0.201912,0.043751,3.191048e-02,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.837864,0.749113,0.782126,0.775729,0.716103,0.772187,0.040256,19
33,0.055467,0.038693,0.000000,0.000000e+00,poisson,None,10,"{'criterion': 'poisson', 'max_features': 'None...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
34,0.040037,0.003955,0.000000,0.000000e+00,poisson,None,50,"{'criterion': 'poisson', 'max_features': 'None...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
35,0.111526,0.088323,0.000000,0.000000e+00,poisson,None,100,"{'criterion': 'poisson', 'max_features': 'None...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,36

In [18]:
age=int(input("AGE:"))
bmi=float(input("BMI:"))
childern=int(input("CHILDERN:"))
sex=int(input("MALE 1 or FEMALE 0:"))
smoker=int(input("SMOKER 1 or NON-SMOKER 0:"))

AGE:23
BMI:20
CHILDERN:1
MALE 1 or FEMALE 0:1
SMOKER 1 or NON-SMOKER 0:0

In [19]:
Future_prediction=grid.predict([[age,bmi,childern,sex,smoker]])
print("Future_prediction{}:".format(Future_prediction))

Future_prediction[2933.6114032]:

C:\Users\ARUN\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [20]:
r_score

0.8698625852660685

In [22]:
import pickle
filename="final_model_grid_random_forest.sav"
pickle.dump(grid,open(filename,"wb"))